{% include "base.html" %}
<div class="container mt-3">
    {% block content %}
    {% for recipe in recipes %}
    <div class="row">
        <div class="col card d-flex justify-content-center mb-3" style="width: 18rem;">
            <img src="{{recipe.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% if recipe.cookbook_title != 'N/A' %}
                <li class="list-group-item">Cookbook: {{recipe.cookbook_title}}</li>
                <li class="list-group-item">Page Number: {{recipe.page_number}}</li>
                {% endif %}
                <li class="list-group-item">Cuisine: {{recipe.cuisine_type}}</li>
                <li class="list-group-item">Cooked: {{recipe.has_been_cooked}}</li>

            </ul>
            {% if recipe.url %}
            <div class="card-body">
                <a href="{{recipe.url}}" class="card-link">Recipe</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% endblock %}
</div>